[user]
	name = Andrew Savonichev
	email = andrew.savonichev@gmail.com
[merge]
	tool = vimdiff
	conflictstyle = diff3
	stat = true
[mergetool]
	prompt = false
	keepBackup = false
[color]
	ui = auto
[push]
	default = simple
[rerere]
	enabled = true
[alias]
	last = !git --no-pager log -1 HEAD
	co = checkout
	br = branch
	cm = commit
	st = status
	unstage = reset HEAD --
	tree = log --oneline --graph --decorate
